*.suo
*.swp
*.user
*.userprefs
*.pidb
*/bin
*/Debug
*/obj
_ReSharper.*
packages/*
**/packages/*
*.nupkg
.nuget/*.exe
*.sln.ide
.vs/
paket-files
.paket/
.fake/
.ionide/
.idea/
node_modules/
bin/

